@font-face{
	font-family:'Khmer OS content';
	src:url('../fonts/KhmerOSmuol.ttf');
}

@font-face{
	font-family:'Khmer OS';
	src:url('../fonts/KhmerOS.ttf');
}

@font-face{
	font-family:'Khmer OS Muol';
	src:url('../fonts/KhmerOSmuol.ttf');
}

@font-face{
	font-family:'Khmer OS Muol Light';
	src:url('../fonts/KhmerOSmuollight.ttf');
	
}
@font-face{
	font-family:'Khmer OS Siemreap';
	src:url('../fonts/KhmerOSsiemreap.ttf');

}

.font-muol,
.panel-default .panel-heading {
    font-family:'Khmer OS Muol Light';
}

a.list-group-item, button.list-group-item,
.dropdown-menu > li > a,
table.table.table-bordered.table-striped,
.panel-body,
.form-control,
.font-sr,
.navbar-default .navbar-nav > li > a {
    font-family:'Khmer OS Siemreap';
}

.radio-toolbar input[type="radio"] {display:none;}
.radio-toolbar label {
    font-weight: 100;
}
.radio-toolbar input[type="radio"]:checked+label { 
    background:red !important;
}

table.td-middle tr td{
	vertical-align: middle !important;
}

.text-bold{
	font-weight: bold;
}
.text-underline{
	text-decoration: underline;
}

img.tacteng-img{
	width:90px;
}