@font-face{
	font-family:'Khmer OS content';
	src:url('../fonts/KhmerOSmuol.ttf');
}

@font-face{
	font-family:'Khmer OS';
	src:url('../fonts/KhmerOS.ttf');
}

@font-face{
	font-family:'Khmer OS Muol';
	src:url('../fonts/KhmerOSmuol.ttf');
}

@font-face{
	font-family:'Khmer OS Muol Light';
	src:url('../fonts/KhmerOSmuollight.ttf');
	
}
@font-face{
	font-family:'Khmer OS Siemreap';
	src:url('../fonts/KhmerOSsiemreap.ttf');

}

.panel-default > .panel-heading {
    font-family:'Khmer OS Muol Light';
}

a.list-group-item, button.list-group-item,
.dropdown-menu > li > a,
.navbar-default .navbar-nav > li > a {
    font-family:'Khmer OS Siemreap';
}